<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <p>Connecté en tant que <%= user.username %></p>
    <div class="comments">
        <div class="comments-comment">
            <a href="/user/<%= tweetDetails[0].id_user %>"><img src="/images/user.png" alt="userimage"></a>
            <div class="comments-comment-content">
                <div class="comments-comment-content-nameDate">
                    <a href="/user/<%= tweetDetails[0].id_user %>">
                        <h3 class="comments-comment-content-username">
                            <%= tweetDetails[0].username %>
                        </h3>
                    </a>
                    <span class="comments-comment-content-date">
                        <%= tweetDetails[0].creation_date %>
                    </span>
                </div>
                <p class="comments-comment-content-text">
                    <%= tweetDetails[0].text %>
                </p>
            </div>
        </div>

    </div>
    <form action="/users/<%= id %>/tweet/<%= tweetsid %>" method="POST" class="tweet-container-form">
        <div class="tweet-container-message">
            <label for="message"></label>
            <div class="tweet-container-text">
                <textarea name="message" id="message" placeholder="<%= tweetDetails[0].text %>"></textarea>
            </div>

        </div>
        <div class="tweet-container-button">
            <button type="submit" class="tweet-button">Modifier ce tweet</button>
        </div>
        <form action="/users/<%= id %>/tweet/<%= tweetsid %>/delete" method="POST" class="tweet-container-form">
            <div class="tweet-container-button">
                <button type="submit" class="tweet-button">Supprimer ce tweet</button>
            </div>
        </form>
    </form>
    
</body>

</html>